.App {
  text-align: center;
  min-height: 100vh;
}
#root {
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #f8fae6;
}
main {
  margin-bottom: 220px;
}

.navbar {
  background-color: #a497f7;
}
.footer-bs {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 12rem;
  border: 1px solid black;
}
.home {
  padding-top: 2rem;
  padding-bottom: 10rem;
  max-width: 99vw;
  margin-right: 0;
  padding-left: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.description {
  font-size: 1.8rem;
  white-space: pre-line;
}

.techno {
  background-color: darkgray;
}

.scroll-to-top {
  position: fixed;
  bottom: 12rem;
  right: 20px;
  background-color: #a497f7;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5rem;
}

.scroll-to-top:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .description {
    font-size: 1.5rem;
    white-space: pre-line;
  }
}
