.App {
  text-align: center;
  min-height: 100vh;
}
#root {
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #f8fae6;
}
main {
  margin-bottom: 220px;
}

.navbar {
  background-color: #a497f7;
}
.footer-bs {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 12rem;
  border: 1px solid black;
}
.home {
  padding-top: 2rem;
  padding-bottom: 10rem;
  max-width: 99vw;
  margin-right: 0;
  padding-left: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.carousel {
  width: 100vw;
  background-color: #a497f7;
  margin: 0;
  padding: 0 10rem;
  color: white;
}

.description {
  font-size: 1.8rem;
  white-space: pre-line;
}

.techno {
  background-color: darkgray;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #45a29e;
  padding: 20px;
  border-radius: 5px;
  max-width: 800px;
  width: 80vw;
  max-height: 80vh;
  overflow-y: auto;
}

textarea {
  width: 100%;
  min-height: 100px; /* Optional: Set a minimum height */
  padding: 10px;
  box-sizing: border-box; /* Ensure padding is included in the element's width/height */
}

.scroll-to-top {
  position: fixed;
  bottom: 12rem;
  right: 20px;
  background-color: #a497f7;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5rem;
}

.scroll-to-top:hover {
  background-color: #0056b3;
}

.form-check {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-check-label {
  margin: 0 2rem;
}

@media screen and (max-width: 768px) {
  .description {
    font-size: 1.5rem;
    white-space: pre-line;
  }
  .carousel {
    padding: 0 2rem;
  }
}
